# 排除上存到GIT的文件件與文件
Other_ExcludeToGit/
.vs/
out/
output/
build/
# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/